<div class="alert alert-success alert-dismissible fade show" role="alert" id="alert-success" style="display: none;">
    <strong>Reset link sent to your mail</strong> please verify to change password. Please check the spam.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert-warning" style="display: none;">
    <strong>Email not Registered</strong> Please register a new account.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
