<%layout('layouts/boilerplate')%>

<div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert-warning" style="display: none;">
    <strong>Password mismatch</strong> confirm your password again.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    <h1>Change Password</h1>
    <div class="row">
        <div class="col-md-6">
            <form action="<%=token%>/resetPassword"  method="post" class="validated"  name="resetPass" id="sendEmail">
                <div class="mb-1 input-group-sm">
                    <label class="form-label">
                        Username (if you don't want change keep it empty)
                    </label>
                    <input type="text" class="form-control" name="username" id="username" name="username">
                    <div class="invalid-feedback">
                        something is'nt right
                    </div>
                </div>
                <div class="mb-1 input-group-sm">
                    <label class="form-label">
                        Enter your new password
                    </label>
                    <input type="password" class="form-control" name="password" id="password" name="password" required>
                    <div class="invalid-feedback">
                        something is'nt right
                    </div>
                </div>
                <div class="mb-1 input-group-sm">
                    <label class="form-label">
                        Confirm your new password
                    </label>
                    <input type="password" class="form-control" name="conpassword" id="conpassword" name="conpassword" required>
                    <div class="invalid-feedback">
                        something is'nt right
                    </div>
                </div>
            </form>
            <button class="btn btn-primary mt-1" id="verifyPassword">Reset Password</button>

        </div>
    </div>

<script>
       const button = document.querySelector("#verifyPassword");
       button.addEventListener('click',()=>{
             let input1 = document.querySelector("#password");
             let input2 = document.querySelector("#conpassword");

             if(input1.value===input2.value){
                document.resetPass.submit();
             }
             else{
                 document.querySelector("#alert-warning").style.display = 'block';
                 input1.value = ""
                 input2.value = ""
             }
       })
</script>