<%layout('layouts/boilerplate')%>

    <%- include('./alerts.html') %> 
    <h1>Verify Email</h1>
    <div class="row">
        <div class="col-md-6">
            
            <form action="/forgotPassword" method="post" class="validated"  id="sendEmail">
                <div class="mb-1 input-group-sm">
                    <label class="form-label">
                        Enter your Email address
                    </label>
                    <input type="email" class="form-control" name="email" id="email" required>
                    <div class="invalid-feedback">
                        something is'nt right
                    </div>
                </div>
                <button class="btn btn-primary mt-1" ><span id="sendMailIcon" class="material-symbols-outlined" style=" position: relative; top: 0.3rem;">
                    send
                    </span>Send Mail</button>
            </form>
            

        </div>
    </div>

<script>
    
    const alertWarning = document.querySelector("#alert-warning");
    const alertSuccess = document.querySelector("#alert-success");
     
    // alertWarning.style.display = 'none';
    // alertSuccess.style.display = 'none';
    const icon = document.querySelector("#sendMailIcon");


    const mailForm = document.querySelector("#sendEmail");
    mailForm.addEventListener('submit',(event)=>{
        event.preventDefault();
        icon.classList.add("sendMailIcon");
        let data = { body: `${document.querySelector('#email').value}` }
        fetch(`/forgotPassword`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data)
                }).then((res) => {
                    return res.json()
                }).then((post) => {
                    if(post.message == 'it worked'){
                        icon.classList.remove("sendMailIcon");
                        alertSuccess.style.display = 'block';
                        
                    }
                    else{
                        icon.classList.remove("SendMailIcon");
                        alertWarning.style.display = 'block';
                        document.querySelector('#email').value = '';
                    }
                   
                })
    })

</script>

<style>

.sendMailIcon{
            -webkit-animation: spin 1.3s linear infinite;
        }

        @-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>