<%layout('layouts/boilerplate')%>
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="alert-success" style="display: none;">
        <strong>OTP sent to your mail</strong> please verify to register.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alert-danger" style="display: none;">
        <strong>Invalid OTP</strong> Please enter the valid otp sent to your email.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <h1>Register</h1>
    <div class="row">
        <div class="col-md-6">
            <form action="/register" method="post" name="register" class="validated" id="registerForm">
                <div class="mb-1 input-group-sm">
                    <label class="form-label">UserName</label>
                    <input type="text" class="form-control" name="username" required>
                    <div class="invalid-feedback">
                        Required
                    </div>
                </div>
                <div class="mb-1 input-group-sm">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" id="email" required>
                    <div class="invalid-feedback">
                        Required
                    </div>
                </div>
                <div class="mb-1 input-group-sm">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" required>
                    <div class="invalid-feedback">
                        Required
                    </div>
                </div>


                <p>User already? <a href="/login">Login</a></p>

            </form>
            <button class="btn btn-success mt-1" id="sendOTP"><span class="material-symbols-outlined" id="registerIcon" style=" position: relative; top: 0.3rem;">
                how_to_reg
                </span>Register</button>

            <form action="/verifyEmail" method="post" class="validated" id="otpForm">
                <div class="mb-1 input-group-sm">
                    <label class="form-label">
                        Enter the OTP
                    </label>
                    <input type="text" class="form-control" name="otp" id="otp" required>
                    <div class="invalid-feedback">
                        something is'nt right
                    </div>
                </div>
                <button class="btn btn-primary mt-1">Verify Otp</button>
            </form>
        </div>
    </div>

    <script>
        const registerForm = document.querySelector('#registerForm');
        const Alert = document.querySelector('#alert-success');
        const AlertWar = document.querySelector('#alert-danger');
        const registerButton = document.querySelector('#sendOTP');
        const registerIcon = document.querySelector("#registerIcon");

        let otpForm = document.querySelector('#otpForm');
        otpForm.style.display = 'none';
        AlertWar.style.display = 'none';

        let OTP = ''

        registerButton.addEventListener('click', () => {


            registerIcon.classList.add("registerIcon");
            let data = { body: `${document.querySelector('#email').value}` }
            fetch(`/generateOtp`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            }).then((res) => {
                return res.json()
            }).then((post) => {
                
                registerIcon.classList.remove("registerIcon");
                otpForm.style.display = 'block';
                registerForm.style.display = 'none';
                Alert.style.display = 'block'
                registerButton.style.display = 'none'

                console.log("listening")
                otpForm.addEventListener('submit', (event) => {
                    event.preventDefault()
                    console.log("listened")
                    let data = { body: `${document.querySelector('#otp').value}` }

                    fetch(`/verifyEmail`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data)
                    }).then((res) => {
                        return res.json()
                    }).then((post) => {
                        if (post.verified == 'true') {
                            document.register.submit();
                        }
                        else {
                            AlertWar.style.display = 'block';
                        }
                    })

                })
            })


        })


    </script>

<style>

    .registerIcon{
                -webkit-animation: spin 1.3s linear infinite;
            }
    
            @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    </style>